section {
    padding: 40px !important;

    h2 {
        color: #fff;
    }

    hr {
        margin: 20px 0;
        background-color: #fff;
        border-radius: 10px;
        height: 4px;
        width: 50px;
        border: none;
    }

    .sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;

        .section {
            color: #fff;
            max-width: 600px;

            .lists {
                display: flex;
                gap: 75px;
                flex-wrap: wrap;
                justify-content: space-between;

                ul {
                    margin-left: 35px;
                }
            }
        }
    }
}