section {
    padding: 40px !important;

    h2 {
        color: #fff;
    }

    hr {
        margin: 20px 0;
        background-color: #fff;
        border-radius: 10px;
        height: 4px;
        width: 50px;
        border: none;
    }

    img {
        object-position: center;
        object-fit: cover;
    }
}