header {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=1024x1024&w=0&k=20&c=z8_rWaI8x4zApNEEG9DnWlGXyDIXe-OmsAyQ5fGPVV8=') center/cover no-repeat;
    background-attachment: fixed;

    .content {
        h1 {
            color: #fff;
        }

        button {
            padding: 12px 24px;
            color: #fff;
            font-weight: bold;
            border-radius: 100px;
            border: none;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            transition: 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}